<div class="login-page">
  <div class="form">
    <form class="login-form">
      <input type="text" ng-model="username" placeholder="username"/>
      <input type="password" ng-model="password" placeholder="password"/>
      <button ng-click="login()">login</button>
      <p class="message">Not registered? <button class="btn" ng-click="open()">Create account</button></p>
    </form>
  </div>
</div>

<div class="formModal" modal="showModal" close="cancel()">
  <div class="modal-header">
      <h4>Register user</h4>
  </div>
  <div class="modal-body">
    <form class="register-form" ng-submit="customSubmit()">
      Email:
      <input type="text" name="email" placeholder="email address"/>
      Password:
      <input type="password" name="pass" placeholder="password"/>
      Description:
      <input type="textarea" name="description" placeholder="description"/>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="customSubmit()">Create</button>
    <button class="btn" ng-click="cancel()">Cancel</button>
  </div>
</div>

<script type="text/javascript">
$('.message a').click(function(){
   $('form').animate({height: "toggle", opacity: "toggle"}, "slow");
});
</script>
